<body>
<div id="center" class="main center">
  <div class="container">
    <div id="loader" *ngIf="this.loader === true; else elseBlock">
      <mat-spinner></mat-spinner>
      <p>Movies loading, please wait...</p>
    </div>
    <ng-template #elseBlock>
      <div class="row" >
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let movie of moviesByGenre">
          <app-movie-card [movie]="movie"></app-movie-card>
        </div>
      </div>
    </ng-template>

  </div>
</div>
</body>
